body{
    margin: 0;
    background: #111;
    overflow: hidden;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

canvas{display: block;}

#label{
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translateX(-50%);
    color: pink;
    font-size: 28px;
    text-shadow: 0 0 10px pink;
    top: 1%;
}

#controls{
    position: absolute;
    bottom: 20px;
    width: 100%;
}

button{
    padding: 12px 20px;
    margin: 5px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #e74c3c;
    color: #fff;
    top: 50;
}

